<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; Bunny Design 2022</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/bunnydesign19?r=nametag" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://www.linkedin.com/in/maria-fernanda-cano-meza-27206b16b" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="https://youtube.com/channel/UCSrpvEIau9z1M02zgd_wC8w" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="col-lg-4 text-lg-end">
                <a class="link-dark text-decoration-none me-3" href="#!">Nutriologa</a>
            </div>
        </div>
    </div>
</footer>